name: Deploy to client to S3

on:
  push:
    branches:
      - main 

jobs:
  deploy-client:
    name: Deploy Client to S3
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies and Build
        run: |
          cd client
          npm install
          npm run build

      - name: Deploy to S3
        run: |
          aws s3 sync client/dist s3://${{ secrets.AWS_S3_BUCKET }} --region ${{ secrets.AWS_REGION }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

        
